<app-header></app-header>
    <div class="div-sobre">
        <h1>Created By</h1>
    
        <div class="container-nos">
            <div>
                <label>Mariana Campos</label>
                <div class="ra">
                    RA: 423103381
                </div>
                <img src="../../assets/Raze.png" alt="img">
            </div>
            <div>
                <label>Sthefany Silva Lima</label>
                <div class="ra">
                    RA: 423100626
                </div>
                <img src="../../assets/Sage.png" alt="img">
            </div>
            <div>
                <label for="">Beatriz Silva</label>
                <div class="ra">
                    RA: 423202613
                </div>
                <img src="../../assets/Killjoy.png" alt="img">
            </div>
            <div>
                <label for="">Claudio Paiva</label>
                <div class="ra">
                    RA: 423203611
                </div>
                <img src="../../assets/Izo.png" alt="img">
            </div>
            <div>
                <label for="">Alexandre Piorunneck</label>
                <div class="ra">
                    RA: 2222105177
                </div>
                <img src="../../assets/Brin.png" alt="img">
            </div>
            <div>
                <label for="">Anderson Pereira</label>
                <div class="ra">
                    RA: 422103904
                </div>
                <img src="../../assets/Chamber.png" alt="img">
            </div>
            <div>
                <label for="">Lucca Murano</label>
                <div class="ra">
                        RA: 423104461
                </div>
                <img src="../../assets/Sova.png" alt="img">
            </div>
        </div>
    </div>
    <app-footer></app-footer>