<div class="container">
    <div class="container-input">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="container-login">
            <a href="#"><img src="../../assets/logo.png" alt=""></a>
            <div class="container-inputs">
                <div>
                    <label>Produto</label>
                    <input type="text" formControlName="nome" placeholder="Digite aqui...">
                </div>
                <div>
                    <label>Descrição</label>
                    <input type="text" formControlName="descricao" placeholder="Digite aqui...">
                </div>
                <div>
                    <label>Valor</label>
                    <input type="number" formControlName="valor" placeholder="Digite aqui...">
                </div>
                <div>
                    <label>Imagem</label>
                    <input type="file" formControlName="imagem" id="fileInput" class="inputfile" />
                    <label for="fileInput" class="custom-file-upload">Escolha um arquivo</label>
                </div>
            </div>
            <button style="cursor: pointer;" type="submit">Registrar</button>
        </form>
    </div>    
</div>