<div class="container">
    <div class="container-input">
        <div class="container-login">
            <img src="../../assets/logo.png" alt="">
            <div class="container-inputs">
                <div>
                    <label>Produto</label>
                    <input type="text" placeholder="Digite aqui...">
                </div>
                <div>
                    <label>Registrante</label>
                    <input type="text" placeholder="Digite aqui...">
                </div>
                <div>
                    <label>Valor</label>
                    <input type="number" placeholder="Digite aqui...">
                </div>
                <div>
                    <label>Imagem</label>
                    <input type="file" id="fileInput" class="inputfile" />
                    <label for="fileInput" class="custom-file-upload">Escolha um arquivo</label>
                </div>
            </div>
            <button>Registrar</button>
        </div>
    </div>    
</div>