<app-header></app-header>
<form class="form-produto">
    <div class="background-produto container-produto">
        <h2 [innerText]="nameproduct"></h2>
        <div class="container-image">
            <img [src]="foto" [alt]="nameproduct">
        </div>
        <div class="useless">
            <div>
                <div>
                    <div class="container-info">
                        <img src="../../assets/Return.png" alt="alou">
                        <div class="text-container">
                            <h3>Troca gratis</h3>
                            <b>Conheça todas as nossas facilidades. Fique livre para trocar em até 30 dias</b>
                        </div>
                    </div>
                    <div class="container-info">
                        <img src="../../assets/Flower.png" alt="alouu">
                        <div class="text-container">
                            <h3>Sutentabilidade</h3>
                            <b>Tecnologia responsável, que respeita o meio ambiente</b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="preco-container">
                <h1 style="font-size: 28px;" class="preco" [innerText]="preco | currency:'BRL'"></h1>
                <img src="../../assets/Pagaai.png" alt="pagaai">
            </div>
            
        </div>
    </div>
    <div class="hr">

    </div>
    <div class="container-purchase">
        <div class="discription">
            <h2>Descrição</h2>
            <label [innerText]="descricao">
            </label>
        </div>
        <div class="container-buy">
            <div style="display: flex; gap: 10px; align-items: center;">
                <img src="../../assets/Pix.png" alt="pix">
                <label><b>PAGUE PELO PIX</b> Ganhe 5% OFF em pagamento via PIX</label>
            </div>
            <button>BUY</button>
        </div>
    </div>
</form>
<app-footer></app-footer>

